.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  min-height: 100dvh;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif !important;
}

.keypad {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0.5rem;
  width: 100%;
  max-width: 20rem;
}

.key {
  user-select: none;
  min-width: 2rem;
  aspect-ratio: 1.5;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  color: #555;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 500;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif !important;
  padding: 0.5rem 1rem;
  transition: all 0.2s ease-in-out;
}

.key:hover {
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.19);
}

.key:active {
  background-color: #e8e8e8;
  transform: scale(0.95);
}

@media (prefers-color-scheme: dark) {
  .key {
    background-color: #1a202c;
    border-color: #2d3748;
    color: #fff;
  }

  .key:hover {
    background-color: #1a202c;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.19);
  }
  .key:active {
    background-color: #2d3748;
    transform: scale(0.95);
  }
}

.formbox {
  width: 100%;
  max-width: 20rem;
  min-height: 3.3rem;
  margin-bottom: 1rem;
  padding: 1rem;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  display: flex;
  align-items: center;
  gap: 2px;
}

.formbox::after {
  content: '';
  width: 2px;
  height: 20px;
  background: #111;
  display: inline-block;
  animation: cursor-blink 1.5s steps(2) infinite;
  white-space: pre;
}

@media (prefers-color-scheme: dark) {
  .formbox {
    background-color: #1a202c;
    border-color: #2d3748;
  }

  .formbox::after {
    background: #eee;
  }
}

@keyframes cursor-blink {
  0% {
    opacity: 0;
  }
}
