.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100dvh;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.keypad {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0.5rem;
  width: 100%;
  max-width: 30rem;
}

.key {
  /* <button class="bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow"> */
  min-width: 2rem;
  aspect-ratio: 1.6;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  color: #555;
  cursor: pointer;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.25;
  padding: 0.5rem 1rem;
  transition: all 0.2s ease-in-out;
}

.key:hover {
  background-color: #f5f5f5;
}

.key:active {
  background-color: #e8e8e8;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.19);
  transform: translateY(5px);
}

/* darkmode .key */

@media (prefers-color-scheme: dark) {
  .key {
    background-color: #1a202c;
    border-color: #2d3748;
    color: #fff;
  }

  .key:hover {
    background-color: #2d3748;
  }

  .key:active {
    background-color: #2d3748;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.19);
    transform: translateY(5px);
  }
}

/* formbox */
.formbox {
  /* w-full mb-4 border border-gray-200 rounded-lg bg-gray-50 dark:bg-gray-700 dark:border-gray-600 */
  width: 100%;
  max-width: 30rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  background-color: #fff;
}

@media (prefers-color-scheme: dark) {
  .formbox {
    background-color: #1a202c;
    border-color: #2d3748;
  }
}

.textArea {
  width: 100%;
  padding: 0.5rem 1rem;
  font-size: 0.875rem;
  line-height: 1.25;
  color: #555;
  background-color: #fff;
  border: 0;
  resize: none;
}

.textArea:focus {
  outline: none;
}

@media (prefers-color-scheme: dark) {
  .textArea {
    background-color: #1a202c;
    color: #fff;
  }
}
